src/conf/xml-resources/web-service-references/Oblig3Service/wsdl/localhost_8080/int_app_oblig3/Oblig3Service.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://oblig3.intapp.stg.hin.no/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://oblig3.intapp.stg.hin.no/">

<xs:element name="IOException" type="tns:IOException"/>

<xs:element name="autentificate" type="tns:autentificate"/>

<xs:element name="autentificateResponse" type="tns:autentificateResponse"/>

<xs:element name="getFortuneCookies" type="tns:getFortuneCookies"/>

<xs:element name="getFortuneCookiesResponse" type="tns:getFortuneCookiesResponse"/>

<xs:element name="objectCounter" type="tns:objectCounter"/>

<xs:element name="objectCounterResponse" type="tns:objectCounterResponse"/>

<xs:complexType name="objectCounter">
<xs:sequence>
<xs:element name="_object" type="xs:anyType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="objectCounterResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="IOException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFortuneCookies">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFortuneCookiesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="autentificate">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="autentificateResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>