src/java/META-INF/Oblig3Service.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://oblig3.intapp.stg.hin.no/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://oblig3.intapp.stg.hin.no/" name="Oblig3Service">
<types>
<xsd:schema>
<xsd:import namespace="http://oblig3.intapp.stg.hin.no/" schemaLocation="http://localhost:8080/int_app_oblig3/Oblig3Service?xsd=1"/>
</xsd:schema>
</types>
<message name="autentificate">
<part name="parameters" element="tns:autentificate"/>
</message>
<message name="autentificateResponse">
<part name="parameters" element="tns:autentificateResponse"/>
</message>
<message name="getFortuneCookies">
<part name="parameters" element="tns:getFortuneCookies"/>
</message>
<message name="getFortuneCookiesResponse">
<part name="parameters" element="tns:getFortuneCookiesResponse"/>
</message>
<message name="objectCounter">
<part name="parameters" element="tns:objectCounter"/>
</message>
<message name="objectCounterResponse">
<part name="parameters" element="tns:objectCounterResponse"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<portType name="Obig3Service">
<operation name="autentificate">
<input wsam:Action="http://oblig3.intapp.stg.hin.no/Obig3Service/autentificateRequest" message="tns:autentificate"/>
<output wsam:Action="http://oblig3.intapp.stg.hin.no/Obig3Service/autentificateResponse" message="tns:autentificateResponse"/>
</operation>
<operation name="getFortuneCookies">
<input wsam:Action="http://oblig3.intapp.stg.hin.no/Obig3Service/getFortuneCookiesRequest" message="tns:getFortuneCookies"/>
<output wsam:Action="http://oblig3.intapp.stg.hin.no/Obig3Service/getFortuneCookiesResponse" message="tns:getFortuneCookiesResponse"/>
</operation>
<operation name="objectCounter">
<input wsam:Action="http://oblig3.intapp.stg.hin.no/Obig3Service/objectCounterRequest" message="tns:objectCounter"/>
<output wsam:Action="http://oblig3.intapp.stg.hin.no/Obig3Service/objectCounterResponse" message="tns:objectCounterResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://oblig3.intapp.stg.hin.no/Obig3Service/objectCounter/Fault/IOException"/>
</operation>
</portType>
<binding name="Obig3ServicePortBinding" type="tns:Obig3Service">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="autentificate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFortuneCookies">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="objectCounter">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
</binding>
<service name="Oblig3Service">
<port name="Obig3ServicePort" binding="tns:Obig3ServicePortBinding">
<soap:address location="http://localhost:8080/int_app_oblig3/Oblig3Service"/>
</port>
</service>
</definitions>